html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	height: 100%;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

}
h1 {
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
}

h2 {
	font-family: Arial;
	font-size: 14px;
}

h3 {
	font-family: Arial;
	font-size: 14px;
}

p {
	font-family: Arial;
	font-size: 12px
}

textarea {
	width: 98%;
	font-family: Arial;
	height: 40px;
	/*margin: auto;*/
}

iframe {
	float: left;
	width: 70%;
	height: 100%;
	/*height: 1000px;*/
}

#indicators input {
	margin-left: 30px;
	margin-right: 5px;
}

#jumbotron {
	width: 105%;
}
#sidebar {
	background-color: #D3D3D3;
	padding: 10px;
	position: absolute;
	right: 0px;
	width: 30%;
	height: 105%;
	/*height: 1025px;*/
}

#container {
	height: 100%;
}

#navbar {
	padding-top: 5px;
	padding-left: 10px;
	background-color: #000000;
	height: 50px;
	width: 65% ;
}

#indicators {
	font-family: Arial;
	font-size: 14px;
}

#complete-comment {
	color: #006400;
	font-size: 16px;
}
/*#navbar a{
	text-align: right;
	color: #00CED1;
}*/

#cancel-comment {
	float: right;
	margin-right: 5px;
}

#cancel-comment:hover {
	color: #ffffff;
	background-color: #696969;
}

#submit-comment {
	background-color: #F08080;
	float: right;
	margin-right: 5px;
}

#submit-comment:hover {
	color: #ffffff;
}

#warntext{
	text-align: right;
	font-size: 14px;
	padding-top: 15px;
}

#base {
	height: 100px;
}

input.suggest-btn {
	-moz-appearance: none;
 	-webkit-appearance: none;
	appearance: none;
	width: 98%;
	white-space: normal;
	/*height: 3em;*/
	background-color: #A9A9A9;
	font-size: 14px;
	text-align: left;

}

.suggest-btn:hover {
	background-color: #696969;
	color: #ffffff;
}

.comment-btns {
	margin-left: 5px;
	bottom: 15px;
	right: 10px;
	position: fixed;
	width: 30%;
	background-color: #D3D3D3;
}

.text-right {
	float: right;
	color: #ffffff;
}

.need-suggestion {
	color: #8B0000;
	font-size: 16px;
	/*font-weight: bold;*/
}

.scroll-box {
	background-color: #D3D3D3;
	padding: 5px;
	height: 300px;
	width: 98%;
	overflow: scroll;
}