html, div, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

h1 {
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
}

h2 {
	font-family: Arial;
	font-size: 14px;
}

h3 {
	font-family: Arial;
	font-size: 14px;
}

p {
	font-family: Arial;
	font-size: 12px
}

textarea {
	width: 95%;
	font-family: Arial;
	height: 40px;
}

iframe {
	float: left;
	width: 70%;
	height: 1000px;
}

#jumbotron {
	width: 105%;
}
#sidebar {
	background-color: #D3D3D3;
	padding: 10px;
	position: absolute;
	right: 0px;
	width: 30%;
	/*height: 1000px;*/
	height: 100%;
}

#container {
	height: 100%;
}
#scroll-box {
	border: solid black .5px;
	background-color: #FFFFFF;
	padding: 5px;
	height: 300px;
	width: 95%;
	overflow: scroll;
}

#navbar {
	padding-top: 5px;
	padding-left: 10px;
	background-color: #000000;
	height: 50px;
	width: 65% ;
}

#indicators {
	font-family: Arial;
	font-size: 12px;
}

#complete-comment {
	color: #006400;
	font-size: 16px;
}
/*#navbar a{
	text-align: right;
	color: #00CED1;
}*/
#submit-comment {
	background-color: #F08080;
}

#submit-comment:hover {
	color: #ffffff;
}

#cancel-comment:hover {
	color: #ffffff;
	background-color: #696969;
}

input.suggest-btn {
	-moz-appearance: none;
 	-webkit-appearance: none;
	appearance: none;
	width: 95%;
	white-space: normal;
	/*height: 3em;*/
	background-color: #D3D3D3;
	font-size: 14px;

}

.suggest-btn:hover {
	background-color: #696969;
	color: #ffffff;
}

.comment-btns {
	float: right;
	margin-left: 5px;
}

.text-right {
	float: right;
	color: #ffffff;
}

.need-suggestion {
	color: #8B0000;
	font-size: 16px;
	/*font-weight: bold;*/
}
