h1, li, h2, h3, h4, p {
	font-family: Helvetica;
}

#container {
	padding-left: 50px;
	height: 700px;
	top: 0%;
}

#headerinfo {
	text-align: center;
}

#content-box {
	padding-left: 325px;
	padding-right: 300px;
	width: 75%; 
}
/*#section-slides {
	padding-left: 200px;
}*/

#content-box .column {
    float: left;
    margin: 0;
    width: 35%;
}
/*.redtext {
	color:red;
}*/

.column {
	width: 25%;
	margin: 5px;
}

#red-text {
	color: red;
}