h1, li, h2, h3, h4, p {
	font-family: Helvetica;
}

#container {
	padding-left: 50px;
	height: 700px;
	top: 0%;
}

#headerinfo {
	text-align: center;
}

#content-box {
	margin: auto;
	width: 80%; 
}
/*#section-slides {
	padding-left: 200px;
}*/

#content-box .column {
    float: left;
    margin: auto;
    width: 50%;
}
/*.redtext {
	color:red;
}*/

#red-text {
	color: red;
}