h1, li, h2, h3, h4, p {
	font-family: Helvetica;
}

#container {
	padding-left: 50px;
	height: 700px;
	top: 0%;
}

#headerinfo {
	text-align: center;
}

#content-box {
	padding-left: 200px;
	padding-right: 200px;
	width: 75%; 
}
/*#section-slides {
	padding-left: 200px;
}*/

#content-box .column {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    width: 40%;
}
/*.redtext {
	color:red;
}*/

#red-text {
	color: red;
}